*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100vh; /*viewport height*/
    width: 100%;
    background-size: cover;
    background: url("../img/img.png") center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: rgba(62, 175, 171, 0.99);
    text-shadow: 0.1em 0.1em 0.2em black;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.loli{
display:flex;
height:100vh;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    cursor: pointer;
    color: rgba(62, 175, 171, 0.99);
    transition: .4s;
}
.btn{
    text-decoration: none;
    background-color: rgba(62, 175, 171, 0.99);
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    margin: 30px;
    color: rgba(255, 255, 255, 0.99);
    font-weight: bold;
    text-align: justify;
    text-indent: initial;
    width: 50%;
}
h1{
    text-shadow: 0.1em 0.1em 0.2em black;
}
.subtitles{
    padding-top: 10px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 10px;
}
.youtube-video{
    place-content: center right;
}
